<!--
  Generated template for the MatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Match</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="bg-style" padding>

<div class="title-victory">{{playerVictory ? "Win" : "Lose"}}</div>
<ion-row>
  <ion-col *ngIf="radiantPlayers" class="radiant-score">{{radiantScore}}</ion-col>
  <ion-col class="game-info" col-6>
    {{recapMatch.matchID}}<br>
    {{recapMatch.duration}}<br>
    {{recapMatch.date}}
  </ion-col>
  <ion-col *ngIf="direPlayers" class="dire-score">{{direScore}}</ion-col>
</ion-row>

<div class="title-radiant">Radiant - Overview</div>
  <ion-list *ngIf="radiantPlayers">
    <ion-item class="list-title">
        <ion-row>
          <ion-col col-2>Hero</ion-col>
          <ion-col col-1>Lvl</ion-col>
          <ion-col col-3>Player</ion-col>
          <ion-col col-2>K/D/A</ion-col>
          <ion-col class="list-title-gold" col-2>GPM</ion-col>
          <ion-col col-2>XPM</ion-col>
        </ion-row>
      </ion-item>
    <ion-item class="list-player" *ngFor="let player of radiantPlayers">
      <ion-row>
          <ion-col *ngIf="player.avatar != null"col-2><img src="{{player.avatar}}"></ion-col>
          <ion-col col-1>{{player.level}}</ion-col>
          <ion-col class="line-break" col-3>{{player.personaname ? player.personaname : 'Anonym'}}</ion-col>
          <ion-col col-2>{{player.kills}}/{{player.deaths}}/{{player.assists}}</ion-col>
          <ion-col class="list-player-gold" col-2>{{player.gold_per_min}}</ion-col>
          <ion-col col-2>{{player.xp_per_min}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <div class="title-dire">Dire - Overview</div>
  <ion-list *ngIf="direPlayers">
    <ion-item class="list-title">
        <ion-row>
            <ion-col col-2>Hero</ion-col>
            <ion-col col-1>Lvl</ion-col>
            <ion-col col-3>Player</ion-col>
          <ion-col col-2>K/D/A</ion-col>
          <ion-col class="list-title-gold" col-2>GPM</ion-col>
          <ion-col col-2>XPM</ion-col>
        </ion-row>
      </ion-item>
    <ion-item class="list-player" *ngFor="let player of direPlayers">
      <ion-row>
          <ion-col *ngIf="player.avatar != null"col-2><img src="{{player.avatar}}"></ion-col>
          <ion-col col-1>{{player.level}}</ion-col>
          <ion-col class="line-break" col-3>{{player.personaname ? player.personaname : 'Anonym'}}</ion-col>
          <ion-col col-2>{{player.kills}}/{{player.deaths}}/{{player.assists}}</ion-col>
          <ion-col class="list-player-gold" col-2>{{player.gold_per_min}}</ion-col>
          <ion-col col-2>{{player.xp_per_min}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
