<!--
  Generated template for the MatchesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Matches</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg-style" padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="gotError == false">
        <ion-row *ngIf="matches.length == 0">
            <p text-center>No matches found.</p>
        </ion-row>
        <ion-list  *ngIf="steamID32 != null">
            <button ion-item class="list-style" *ngFor="let match of matches" (click)="itemTapped($event, match)">
                <ion-card class="background-transparent" *ngIf="match.error == null">
                    <img src="{{match.hero.avatar}}">
                    <ion-card-content text-center>
                        <ion-card-title class="card-title">{{match.hero.name}}</ion-card-title>
                        <p>{{match.date}}</p>
                        <ion-row text-center>
                            <ion-col>Kills</ion-col>
                            <ion-col>Deaths</ion-col>
                            <ion-col>Assists</ion-col>
                            <ion-col>Duration</ion-col>
                        </ion-row>
                        <ion-row text-center>
                            <ion-col class="kills-style">{{match.kills}}</ion-col>
                            <ion-col class="deaths-style">{{match.deaths}}</ion-col>
                            <ion-col>{{match.assists}}</ion-col>
                            <ion-col>{{match.duration}}</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card *ngIf="match.error != null">
                    <p>Unable to load your match...</p>
                </ion-card>
            </button>
        </ion-list>
        
        <ion-infinite-scroll *ngIf="steamID32 != null" (ionInfinite)="loadMoreData($event)">
            <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more matches...">
        </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-row *ngIf="steamID32 == null">
            <button (click)="dotaAccount()" ion-button block>Add your dota Account</button>
        </ion-row>
    </div>
    <div *ngIf="gotError == true">
        <button (click)="reloadData()" ion-button block>Reload Matches</button>
    </div>
</ion-content>