page-matches {
    ion-content {
        .list-style {
            color: rgb(245, 245, 245);
            font-size: 12px;
            text-align: center;
            background-color: transparent;
        }
    }
}


.bg-style {
    background-color: rgb(38, 40, 56);
}