page-steam-login {
    ion-content {
        .item-style {
            background-color: rgb(38, 40, 56);
            color: rgb(245, 245, 245);
        }
    }

}

.bg-style {
    background-color: rgb(38, 40, 56);
}
