page-login {
    ion-content {
        .bg-style {
            background-color: rgb(38, 40, 56);
        }

        .item-style {
            background-color: rgb(38, 40, 56);
            color: rgb(245, 245, 245);
        }
    }

}

